<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scrape em!</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
    <script defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js'></script>
    
    {{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
</head>
<style>
    .bgk {
        background-image: url('../images/coffee-news.jpg') !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* For IE8 and earlier */
        height: 300px;
        }

    .mainHead {
        text-align: center;
        font-size: 50px;
        text-shadow: 1px 1px #000000;
        font-family: Serif;
    }

    .secondDiv {
        text-align: center;
        width: 100%;
        background-color: rgb(236, 207, 143);
    }

    .navLinks{
      font-family:Georgia, 'Times New Roman', Times, serif;
      margin-left: 15px;
    }

</style>
<nav class="navbar" role="navigation" aria-label="main navigation" >
  <div class="navbar-brand">

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" href="/index.html">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item button navLinks is-large is-light" href="/">
       Home
      </a>
      <a class="navbar-item button navLinks is-large is-light" href="/saved">
       Favorited Articles
      </a>
      <a class="navbar-item scrapeButton navLinks button is-large is-light" href="/articles">
       Scrape Articles
      </a>
      <a class="navbar-item scrapeButton navLinks button is-large is-light" href="/all">
       All Articles
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="bgk">  
</div>



</div>

<body>
    {{{ body }}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</body>

</html>