    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>



{{#each dbArticle}}
<div class="columns is-centered">
    <div class="column is-8">
<div class = "card">
    <div class ="card-header">
        <div class="card-header-title">
        {{{this.title}}}
        </div> 
       
    </div>
    <div class ="card-content">
       <div class="content">
         {{{this.summary}}}
       </div> 
        {{{this.link}}}
    </div>
</div>
   </div>
</div>
{{/each}}


<script type="text/javascript">

$(".scrapeButton").on("click", function(event){
    event.preventDefault();

    $.ajax("/all", {
        type: "GET",
        data: dbArticle,
    }).then(function(data))
})

</script>