<link rel="stylesheet" href="/css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
<script defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js'></script>

<div class="container">
    <div class="columns is-centered">
        <div class="column is-8">
    <h1 class="mainHead">Scrape em' Articles!</h1> 
        </div>
    </div>

<div class="columns">
    <div class="column is-full secondDiv">
        Oh no! Looks like you're going to have to click the scrape button to get your articles!
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-10">
        <hr class="my-4">
    </div>
</div>