<div class="columns">
    <div class="column is-full secondDiv">
        Oh no! Looks like you're going to have to click the scrape button to get your articles!
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-10">
        <hr class="my-4">
    </div>
</div>