
   .mainHead {
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 1px #000000;
    font-family: Serif;
}

.deleteButton{
    padding-left: 10px;
    background-color: rgb(187, 16, 16) !important;
    color: white;
}

.noteButton{
    padding-left: 10px;
    background-color: rgb(70, 156, 206) !important;
    color: white;
}